/* Title */
.welcome {
    font-size: 48px;
    font-weight: bold;
    background-color: #ba0c2f;
}

.date {
    font-size: 24px;
    font-weight: bolder;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.check {
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 5px;
    margin-top: 5px;
    border-radius: 10px;
    background-color:#a7b1b7;
}

.mainbox {
    font-size: 12px;
    background-color: #ffffff;
}

.staff {
    font-size: 18px;
    background-color: #7a7a7a;
    margin-bottom: 5px;
}

.arrows {
    font-size: 24px;
    font-weight: bolder;
    margin-top: 20px;
    background-color: #ba0c2f;
    border-radius: 20px; 
}

.qr {
    font-weight: bolder;
    font-size: 24px;
}
